extends layout.pug

block head-content
    script(src='/scripts/anime.js' type='module')

block main-content
    div.util-banner
        img(src=`${myanimelist.thumbnail}` alt='<Thumbnail>')
    div.anime-wrapper
        h1 #[cite #{myanimelist.titles[0]}]
        hr
        div.anime-opeds
            each op in myanimelistOpeds.ops
                article.anime-oped
                    button(type='button' data-id=`${op.id}`).util-go #[i.fa-solid.fa-eye.fa-2x]
                    div.anime-oped-body
                        div.anime-oped-info
                            div OP ##{op.ordinal}
                            div #[cite #{op.title}]
                        div.anime-oped-stats
                            div #[i.fa-solid.fa-star]
                            div #[i.fa-solid.fa-ranking-star]
            each ed in myanimelistOpeds.eds
                article.anime-oped
                    button(type='button' data-id=`${ed.id}`).util-go #[i.fa-solid.fa-eye.fa-2x]
                    div.anime-oped-body
                        div.anime-oped-info
                            div ED ##{ed.ordinal}
                            div #[cite #{ed.title}]
                        div.anime-oped-stats
                            div #[i.fa-solid.fa-star]
                            div #[i.fa-solid.fa-ranking-star]
        hr
        div.anime-info
            if myanimelist.titles.length > 1
                div Titles: #[cite #{myanimelist.titles.join(', ')}]
            div Studios: #{myanimelist.studios.join(', ')}
            div Type: #{myanimelist.type}
            div Season: #{myanimelist.season}
            div Start Date: #{myanimelist.start}
            div End Date: #{myanimelist.end}
            div Broadcast: #{myanimelist.broadcast}
            div Status: #{myanimelist.status}
            div Genres: #{myanimelist.genres.join(', ')}
            div Episodes: #{myanimelist.episodes}
            div Rating: #{myanimelist.rating}
            hr
            div #[i.fa-solid.fa-star] MyAnimeList Score: #{myanimelist.score}
            div #[i.fa-solid.fa-ranking-star] MyAnimeList Rank: #{myanimelist.rank}
            hr
            p.util-paragraph #{myanimelist.synopsis}