extends layout.pug

block head-content
    script(src='/scripts/anime.js' type='module')

block main-content
    div.util-banner
        img(src=`${anime.thumbnail}` alt='<Thumbnail>')
    div.anime-wrapper
        h1 #[cite #{anime.titles[0]}]
        hr
        div.anime-opeds#anime-opeds
            each op in anime.ops
                article.anime-oped
                    button(type='button' data-id=`${op.id}` data-anime-id=`${anime.id}`).util-go #[i.fa-solid.fa-eye.fa-2x]
                    div.anime-oped-body
                        div.anime-oped-info
                            div OP ##{op.ordinal}
                            div #[cite #{op.title}]
                        div.anime-oped-stats
                            div #[i.fa-solid.fa-star]
                            div #[i.fa-solid.fa-ranking-star]
            each ed in anime.eds
                article.anime-oped
                    button(type='button' data-id=`${ed.id}` data-anime-id=`${anime.id}`).util-go #[i.fa-solid.fa-eye.fa-2x]
                    div.anime-oped-body
                        div.anime-oped-info
                            div ED ##{ed.ordinal}
                            div #[cite #{ed.title}]
                        div.anime-oped-stats
                            div #[i.fa-solid.fa-star]
                            div #[i.fa-solid.fa-ranking-star]
        hr
        div.anime-info
            div Titles: #[cite #{anime.titles.join(', ')}]
            div Studios: #{anime.studios.join(', ')}
            div Type: #{anime.type}
            div Season: #{anime.season}
            div Start Date: #{anime.start}
            div End Date: #{anime.end}
            div Broadcast: #{anime.broadcast}
            div Status: #{anime.status}
            div Genres: #{anime.genres.join(', ')}
            div Episodes: #{anime.episodes}
            div Rating: #{anime.rating}
            hr
            div #[i.fa-solid.fa-external-link] #[a(href=`https://myanimelist.net/anime/${anime.id}`) Visit MyAnimeList]
            div #[i.fa-solid.fa-star] #{anime.score}
            div #[i.fa-solid.fa-ranking-star] #{anime.rank}
            hr
            p.util-paragraph #{anime.synopsis}