extends layout

block head-content
    title OpEdAni: #{anime.titles[0]}
    link(rel='stylesheet' href='/stylesheets/anime.css')

block body-content
    script(src='/scripts/anime.js' type='module')

block main-content
    div.anime-banner
        div(style=`background-image: url("${anime.thumbnail}")`).anime-banner-background
        img(src=`${anime.thumbnail}`).anime-banner-thumbnail
    div.background
        header.clamp.anime-header
            h1 #{anime.titles[0]}
            div.flex-row.gap-large
                div.aligned-content
                    i.fa-solid.fa-o.fa-2x
                    p #{anime.openings.length}
                div.aligned-content
                    i.fa-solid.fa-e.fa-2x
                    p #{anime.endings.length}
    div.clamp.flex-column.gap-large.padding-large
        h2 Openings
        div.grid.gap-large.fluid-medium
            each opening in anime.openings
                a(href=`/oped/${opening.id}`).anime-oped
                    div.flex-column.gap
                        p OP #{opening.ordinal}
                        div.aligned-content-wrap
                            i.fa-solid.fa-music
                            p #{opening.titles[0]}
                        div.aligned-content-wrap
                            i.fa-solid.fa-guitar
                            p
                                each artist, index in opening.artists
                                    | #{artist}
                                    if index < opening.artists.length - 1
                                        | , 
                    div.anime-oped-bottom
                        div.aligned-content
                            i.fa-solid.fa-star
                            p 0.00
                        div.aligned-content
                            i.fa-solid.fa-ranking-star
                            p #0
        h2 Endings
        div.grid.gap-large.fluid-medium
            each ending in anime.endings
                a(href=`/oped/${ending.id}`).anime-oped
                    div.flex-column.gap
                        p ED #{ending.ordinal}
                        div.aligned-content-wrap
                            i.fa-solid.fa-music
                            p #{ending.titles[0]}
                        div.aligned-content-wrap
                            i.fa-solid.fa-guitar
                            p
                                each artist, index in ending.artists
                                    | #{artist}
                                    if index < ending.artists.length - 1
                                        | , 
                    div.anime-oped-bottom
                        div.aligned-content
                            i.fa-solid.fa-star
                            p 0.00
                        div.aligned-content
                            i.fa-solid.fa-ranking-star
                            p #0
        //- h2 Contribute
        //- form#anime-contribute-form.grid.fluid-small.gap
        //-     div.flex-column.gap
        //-         div.aligned-content
        //-             i.fa-solid.fa-list
        //-             label(for='anime-category') Category
        //-         select(required)#anime-category
        //-             option(value='opening') Opening
        //-             option(value='ending') Ending
        //-     div.flex-column.gap
        //-         div.aligned-content
        //-             i.fa-solid.fa-list-ol
        //-             label(for='anime-ordinal') Ordinal
        //-         input#anime-ordinal(type='text' autocomplete='off' spellcheck='false' required)
        //-     div.flex-column.gap
        //-         div.aligned-content
        //-             i.fa-solid.fa-music
        //-             label(for='anime-titles') Titles
        //-             i(data-help='Enter a comma-separated list. The first title is displayed across OpEdAni, while the following titles are added to the search engine.').fa-solid.fa-circle-question.help
        //-         input#anime-titles(type='text' autocomplete='off' spellcheck='false' required)
        //-     div.flex-column.gap
        //-         div.aligned-content
        //-             i.fa-solid.fa-guitar
        //-             label(for='anime-artists') Artists
        //-             i(data-help='Enter a comma-separated list.').fa-solid.fa-circle-question.help
        //-         input#anime-artists(type='text' autocomplete='off' spellcheck='false' required)
        //-     button(type='submit').button-box.span Submit