extends layout

block head-content
    title OpEdAni: #{anime.title}
    link(rel='stylesheet' href='/stylesheets/views/anime.css')

block body-content
    script(src='/scripts/views/anime.js' type='module')

block main-content
    div.anime-banner
        div(style=`background-image: url("${anime.thumbnail}")`).anime-banner-background
        img(src=`${anime.thumbnail}`).anime-banner-thumbnail
    div.background
        header.clamp.flex-row.gap-large.padding-large.separate
            h1 #{anime.title}
            div.flex-row.gap-large
                div.aligned-content
                    i.fa-solid.fa-o.fa-2x
                    p #{anime.openings.length}
                div.aligned-content
                    i.fa-solid.fa-e.fa-2x
                    p #{anime.endings.length}
                a(href=`/anime-contribute?id=${anime.id}`).aligned-content
                    i.fa-solid.fa-pen-to-square.fa-2x
                    p(data-breakpoint='gt-medium') Contribute
    div.clamp.flex-column.gap-large.padding-large
        h2 Openings
        div.grid.gap-large.fluid-medium
            each opening in anime.openings
                a(href=`/song/${opening.id}`).anime-oped
                    div.flex-column.gap
                        div.aligned-content-wrap
                            p OP #{opening.ordinal}
                        div.aligned-content-wrap
                            i.fa-solid.fa-music
                            p #{opening.titles}
                        div.aligned-content-wrap
                            i.fa-solid.fa-guitar
                            p #{opening.artists.join(', ')}
                    div.anime-oped-bottom
                        div.aligned-content
                            i.fa-solid.fa-star
                            p 0.00
                        div.aligned-content
                            i.fa-solid.fa-ranking-star
                            p #0
        h2 Endings
        div.grid.gap-large.fluid-medium
            each ending in anime.endings
                a(href=`/song/${ending.id}`).anime-oped
                    div.flex-column.gap
                        p ED #{ending.ordinal}
                        div.aligned-content-wrap
                            i.fa-solid.fa-music
                            p #{ending.title}
                        div.aligned-content-wrap
                            i.fa-solid.fa-guitar
                            p #{ending.artists.join(', ')}
                    div.anime-oped-bottom
                        div.aligned-content
                            i.fa-solid.fa-star
                            p 0.00
                        div.aligned-content
                            i.fa-solid.fa-ranking-star
                            p #0