extends layout.pug

block head-content
    link(rel='stylesheet' href='/css/anime.css')
    script(src='/js/scripts/anime.js' type='module')

block main-content
    h1.anime-title #{title}
    img.anime-thumbnail(src=`${thumbnail}` alt=`<${title} thumbnail>`)
    h2 #[i.fa-solid.fa-circle-play] Openings #[i.fa-solid.fa-circle-play]
    div.anime-opeds
        each op in ops
            article.anime-opeds-item
                if op.valid
                    button(data-id=`${op.id}`).anime-opeds-go.util-button-primary
                        i.fa-solid.fa-eye.fa-2x
                else
                    button(disabled).anime-opeds-go.util-button-primary
                        i.fa-solid.fa-eye.fa-2x
                div.anime-opeds-info
                    div #[cite #{op.title}]
                    div #{op.band}
                    div Episodes: #{op.episodes}
                    div #[i.fa-solid.fa-gauge] Score: None
                    div #[i.fa-solid.fa-ranking-star] Rank: None
    h2 #[i.fa-solid.fa-circle-stop] Endings #[i.fa-solid.fa-circle-stop]
    div.anime-opeds
        each ed in eds
            article.anime-opeds-item
                if ed.valid
                    button(data-id=`${ed.id}`).anime-opeds-go.util-button-primary
                        i.fa-solid.fa-eye.fa-2x
                else
                    button(disabled).anime-opeds-go.util-button-primary
                        i.fa-solid.fa-eye.fa-2x
                div.anime-opeds-info
                    div #[cite #{ed.title}]
                    div #{ed.band}
                    div Episodes: #{ed.episodes}
                    div #[i.fa-solid.fa-gauge] Score: None
                    div #[i.fa-solid.fa-ranking-star] Rank: None
    h2 #[i.fa-solid.fa-list] MyAnimeList #[i.fa-solid.fa-list]
    div.anime-mal
        div #[i.fa-solid.fa-up-right-from-square] #[a(href=`https://myanimelist.net/anime/${id}`) Visit on MyAnimeList]
        div #[i.fa-solid.fa-gauge] Score: #{score}
        div #[i.fa-solid.fa-ranking-star] Rank: ##{rank}
        div #[i.fa-solid.fa-people-group] Popularity: ##{popularity}
    h2 #[i.fa-solid.fa-circle-question] About #[i.fa-solid.fa-circle-question]
    div.anime-about
        div #[i.fa-solid.fa-compact-disc] Type: #{type}
        div #[i.fa-solid.fa-book-open] Genres: #{genres}
        div #[i.fa-solid.fa-calendar-day] Aired: #{aired}
        div #[i.fa-solid.fa-heart-pulse] Status: #{status}
        div #[i.fa-solid.fa-list-ol] Episodes: #{episodes}
        div #[i.fa-solid.fa-building] Studios: #{studios}
    p.anime-about-description #{description}