extends layout.pug

block head-content
    link(rel='stylesheet' href='/css/anime.css')
    script(src='/js/scripts/anime.js' type='module')

block main-content
    h1.anime-title #{title}
    img.anime-thumbnail(src=`${thumbnail}` alt=`<${title} thumbnail>`)
    h2 Openings &amp Endings #[i.fa-solid.fa-music]
    h2 MyAnimeList #[i.fa-solid.fa-list]
    h2 About #[i.fa-solid.fa-circle-question]
    div.anime-about
        div #[i.fa-solid.fa-compact-disc] Type: #{type}
        div #[i.fa-solid.fa-calendar-day] Aired: #{aired}
        div #[i.fa-solid.fa-heart-pulse] Status: #{status}
        div #[i.fa-solid.fa-list-ol] Episodes: #{episodes}
        div #[i.fa-solid.fa-building] Studios: #{studios}
        p #{description}