extends layout

block head-content
    title OpEdAni: #{song.title}
    link(rel='stylesheet' href='/stylesheets/views/song.css')

block body-content
    script(src='/scripts/views/song.js' type='module')

block main-content
    if song.videos.length > 0
        div.song-theater-container
            div.song-theater
                iframe#song-theater-video(src=song.videos[0] data-videos=song.videos allowfullscreen).song-theater-video
                if song.videos.length > 1
                    div.song-theater-bottom
                        button#song-theater-left.song-theater-button-left.button-box
                            i.fa-solid.fa-arrow-left
                        p#song-theater-middle.soft 1 of #{song.videos.length}
                        button#song-theater-right.song-theater-button-right.button-box
                            i.fa-solid.fa-arrow-right
    div.background
        header.song-header.clamp
            h1 #{song.title}
            div.flex-row.gap-large
                div.aligned-content
                    i.fa-solid.fa-star.fa-2x
                    p #{song.globalRating}
                div.aligned-content
                    i.fa-solid.fa-ranking-star.fa-2x
                    p #{song.globalRanking}
                div.aligned-content
                    i.fa-solid.fa-users.fa-2x
                    p #{song.popularity}
                a(href=`/song-contribute?id=${song.id}`).aligned-content
                    i.fa-solid.fa-pen-to-square.fa-2x
                    p(data-breakpoint='gt-medium') Contribute
    div.clamp.grid.gap-large.padding-large.fluid-small
        div.flex-column.gap-large
            h2 Information
            div.background.flex-column.gap.padding.shadow-hard
                div.aligned-content-wrap
                    i.fa-solid.fa-film
                    a(href=`/anime/${song.anime.id}`).inline-link #{song.anime.title}
                div.aligned-content-wrap
                    i.fa-solid.fa-list-ol
                    p
                        if song.opening
                            | Opening 
                        else
                            | Ending 
                        | #{song.ordinal}
                div.aligned-content-wrap
                    i.fa-solid.fa-guitar
                    p
                        each artist, index in song.artists
                            a(href=`/artist/${artist.id}`).inline-link #{artist.name}
                            if index < song.artists.length - 1
                                | , 
        div.flex-column.gap-large
            h2 Ratings
            div.background.flex-column.gap.padding.shadow-hard
                div.aligned-content-wrap
                    i.fa-solid.fa-star
                    select#song-rating
                        option(value='none') ---
                        option(value='10') 10 (Masterpiece)
                        option(value='9') 9 (Excellent)
                        option(value='8') 8 (Great)
                        option(value='7') 7 (Good)
                        option(value='6') 6 (Decent)
                        option(value='5') 5 (Meh)
                        option(value='4') 4 (Bad)
                        option(value='3') 3 (Horrible)
                        option(value='2') 2 (Garbage)
                        option(value='1') 1 (Abhorrent)
        div.flex-column.gap-large.span
            h2 Reviews
            div.background.flex-column.gap.padding.shadow-hard
        div.flex-column.gap-large.span
            h2 Discussions
            div.background.flex-column.gap.padding.shadow-hard