extends layout

block head-content
    title OpEdAni: Anime Openings &amp Endings
    link(rel='stylesheet' href='/stylesheets/song.css')

block body-content
    script(src='/scripts/song.js' type='module')

block main-content
    if song.videos.length > 0
        div.song-theater
            iframe#song-theater-video(src=song.videos[0] data-videos=song.videos allowfullscreen).song-theater-video
            if song.videos.length > 1
                div.song-theater-bottom
                    button#song-theater-left
                        i.fa-solid.fa-arrow-left
                    p#song-theater-middle 1 of #{song.videos.length}
                    button#song-theater-right
                        i.fa-solid.fa-arrow-right
    div.background
        header.clamp.song-header
            h1 #{song.titles[0]}
            div.flex-row.gap-large
                div.aligned-content
                    i.fa-solid.fa-star.fa-2x
                    p #{song.globalRating}
                div.aligned-content
                    i.fa-solid.fa-ranking-star.fa-2x
                    p #{song.globalRanking}
    